.custom-font {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Light";
}

.left-aligned-column .label {
    -fx-alignment: CENTER-LEFT;
}

.left-aligned-column {
    -fx-alignment: CENTER-LEFT;
}

.right-aligned-column .label {
    -fx-alignment: CENTER-RIGHT;
}

.right-aligned-column {
    -fx-alignment: CENTER-RIGHT;
}

.border-pane {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.bounded-label {
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-padding: 4px; /* Padding inside the label */
}

.red-border {
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.red-text {
    -fx-text-fill: red;
}

.blue-text {
    -fx-text-fill: blue;
}

.bold-text {
    -fx-font-weight: bold;
}