.left-aligned-column .label {
    -fx-alignment: CENTER-LEFT;
}

.left-aligned-column {
    -fx-alignment: CENTER-LEFT;
}

.right-aligned-column .label {
    -fx-alignment: CENTER-RIGHT;
}

.right-aligned-column {
    -fx-alignment: CENTER-RIGHT;
}